# Car Price Prediction

#### Importing libraries

In [163]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [164]:
df = pd.read_csv('quikr_car.csv')

In [165]:
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [166]:
backup = df.copy()

In [167]:
backup.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [169]:
df.keys()

Index(['name', 'company', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [170]:
#checking anomalies in each column
df['company'].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'I', 'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Commercial', 'MARUTI', 'Force', 'Mercedes', 'Land', 'Yamaha',
       'selling', 'URJENT', 'Swift', 'Used', 'Jaguar', 'Jeep', 'tata',
       'Sale', 'very', 'Volvo', 'i', '2012', 'Well', 'all', '7', '9',
       'scratch', 'urgent', 'sell', 'TATA', 'Any', 'Tara'], dtype=object)

# Checking the data Quality and list out the issue here
- from name we need 'Brand name' and 'Model name'  -- done
- in 'Company' there is a integer values are present
- in 'Year' column garbage string value  are present and it is in object --done
- in 'Price' columne "Ask For Price" is present and again its object -- done
- in 'Fuel type' nan value is present
- in 'Price' and 'Fuel type' column the Null value is

In [171]:
#checking the null values in column
df.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [172]:
df['model name'] = [' '.join(x.split()[1:3]) for x in df['name']]

In [173]:
# df.drop('car_name', axis = 1, inplace = True)

In [174]:
df.drop('name', axis = 1, inplace = True)

In [175]:
model = df.pop('model name')
df.insert(1, 'model name', model)

In [176]:
df.head()

    company         model name  year          Price  kms_driven fuel_type
0   Hyundai        Santro Xing  2007         80,000  45,000 kms    Petrol
1  Mahindra         Jeep CL550  2006       4,25,000      40 kms    Diesel
2    Maruti        Suzuki Alto  2018  Ask For Price  22,000 kms    Petrol
3   Hyundai          Grand i10  2014       3,25,000  28,000 kms    Petrol
4      Ford  EcoSport Titanium  2014       5,75,000  36,000 kms    Diesel

In [177]:
df = df[df['year'].str.isnumeric()]

In [178]:
df['year'] = df['year'].astype(int)

In [179]:
df['year'].info()

<class 'pandas.core.series.Series'>
Index: 842 entries, 0 to 891
Series name: year
Non-Null Count  Dtype
--------------  -----
842 non-null    int32
dtypes: int32(1)
memory usage: 9.9 KB

In [180]:
df = df[df['Price']!= 'Ask For Price']

In [181]:
df['Price'] = df['Price'].str.replace(',','').astype(int)

In [182]:
df.head()

    company         model name  year   Price  kms_driven fuel_type
0   Hyundai        Santro Xing  2007   80000  45,000 kms    Petrol
1  Mahindra         Jeep CL550  2006  425000      40 kms    Diesel
3   Hyundai          Grand i10  2014  325000  28,000 kms    Petrol
4      Ford  EcoSport Titanium  2014  575000  36,000 kms    Diesel
6      Ford               Figo  2012  175000  41,000 kms    Diesel

In [183]:
df['kms_driven'] = df['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [184]:
df.head()

    company         model name  year   Price kms_driven fuel_type
0   Hyundai        Santro Xing  2007   80000      45000    Petrol
1  Mahindra         Jeep CL550  2006  425000         40    Diesel
3   Hyundai          Grand i10  2014  325000      28000    Petrol
4      Ford  EcoSport Titanium  2014  575000      36000    Diesel
6      Ford               Figo  2012  175000      41000    Diesel

In [185]:
df = df[df['kms_driven'].str.isnumeric()]

In [186]:
df['kms_driven'] = df['kms_driven'].astype(int)

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   company     817 non-null    object
 1   model name  817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [188]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [192]:
df = df[~df['fuel_type'].isna()]

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   company     816 non-null    object
 1   model name  816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [200]:
df = df.reset_index(drop = True)

In [203]:
df.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [212]:
df = df[df['Price']<6e6].reset_index(drop = True)

In [213]:
df

      company         model name  year   Price  kms_driven fuel_type
0     Hyundai        Santro Xing  2007   80000       45000    Petrol
1    Mahindra         Jeep CL550  2006  425000          40    Diesel
2     Hyundai          Grand i10  2014  325000       28000    Petrol
3        Ford  EcoSport Titanium  2014  575000       36000    Diesel
4        Ford               Figo  2012  175000       41000    Diesel
..        ...                ...   ...     ...         ...       ...
810    Maruti        Suzuki Ritz  2011  270000       50000    Petrol
811      Tata          Indica V2  2009  110000       30000    Diesel
812    Toyota      Corolla Altis  2009  300000      132000    Petrol
813      Tata            Zest XM  2018  260000       27000    Diesel
814  Mahindra          Quanto C8  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [214]:
df.to_csv('car.csv')

# Model

In [226]:
df.keys()

Index(['company', 'model name', 'year', 'Price', 'kms_driven', 'fuel_type'], dtype='object')

In [217]:
X = df.drop(columns = 'Price')
y = df['Price']

In [238]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [308]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.22)

In [309]:
X_train.shape

(635, 5)

In [310]:
ohe = OneHotEncoder()
ohe.fit(X[['company', 'model name','fuel_type']])

OneHotEncoder()

In [311]:
ohe.categories_

[array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['3 Series', '5 Series', '7 Series', 'A3 Cabriolet', 'A4 1.8',
        'A4 2.0', 'A6 2.0', 'A8', 'Accent', 'Accent Executive',
        'Accent GLE', 'Accent GLX', 'Accord', 'Amaze', 'Amaze 1.2',
        'Amaze 1.5', 'Aria Pleasure', 'Beat', 'Beat Diesel', 'Beat LS',
        'Beat LT', 'Beat PS', 'Benz A', 'Benz B', 'Benz C', 'Benz GLA',
        'Bolero DI', 'Bolero Power', 'Bolero SLE', 'Bolt XM', 'Brio',
        'Brio V', 'Brio VX', 'City', 'City 1.5', 'City SV', 'City VX',
        'City ZX', 'Cooper S', 'Corolla', 'Corolla Altis', 'Corolla H2',
        'Creta', 'Creta 1.6', 'Cruze LTZ', 'Duster', 'Duster 110',
        'Duster 110PS', 'Duster 85', 'Duster 85PS', 'Duster RxL',
        'EcoSport', 'EcoSport Ambiente', 'EcoSport Titanium',
        'EcoSport Trend', 'Elantra 1.8', 'Elantra SX', 'Elite i20',
        'Endeavor 4x4', 'Enjoy', 'Enjoy 1.4', 'Eon', 'Eon D', 'Eon Era',
        'Eon Magna', 'Eon Sportz', 'Etios', 'Etios G', 'Etios GD',
        'Etios Liva', 'Fabia', 'Fabia 1.2L', 'Fabia Classic', 'Fiesta',
        'Fiesta SXi', 'Figo', 'Figo Diesel', 'Figo Duratorq',
        'Figo Petrol', 'Fluidic Verna', 'Fortuner', 'Fortuner 3.0',
        'Fusion 1.4', 'GO T', 'Getz', 'Getz GLE', 'Getz Prime', 'Go Plus',
        'Grand i10', 'Ikon 1.3', 'Ikon 1.6', 'Indica', 'Indica V2',
        'Indica eV2', 'Indigo CS', 'Indigo LS', 'Indigo LX',
        'Indigo Marina', 'Indigo eCS', 'Innova 2.0', 'Innova 2.5',
        'Jazz S', 'Jazz VX', 'Jeep CL550', 'Jeep MM', 'Jetta Comfortline',
        'Jetta Highline', 'KUV100', 'KUV100 K8', 'Kwid', 'Kwid 1.0',
        'Kwid RXT', 'Lancer 1.8', 'Laura', 'Linea Emotion', 'Lodgy 85',
        'Logan', 'Logan Diesel', 'Manza', 'Manza Aqua', 'Manza Aura',
        'Manza ELAN', 'Micra XL', 'Micra XV', 'Mobilio', 'Mobilio S',
        'Motors Ambassador', 'Motors Force', 'Motors One', 'Nano',
        'Nano Cx', 'Nano GenX', 'Nano LX', 'Nano Lx', 'Octavia Classic',
        'Pajero Sport', 'Passat Diesel', 'Petra ELX', 'Polo',
        'Polo Comfortline', 'Polo Highline', 'Polo Highline1.2L',
        'Polo Trendline', 'Punto Emotion', 'Q3 2.0', 'Q5 2.0', 'Q7',
        'Qualis', 'Quanto C4', 'Quanto C8', 'Rapid Elegance', 'Redi GO',
        'Rover Freelander', 'S80 Summum', 'Sail 1.2', 'Sail UVA', 'Santro',
        'Santro AE', 'Santro Xing', 'Scala RxL', 'Scorpio', 'Scorpio 2.6',
        'Scorpio LX', 'Scorpio S10', 'Scorpio S4', 'Scorpio SLE',
        'Scorpio SLX', 'Scorpio VLX', 'Scorpio Vlx', 'Scorpio W',
        'Sonata Transform', 'Spark', 'Spark 1.0', 'Spark LS', 'Spark LT',
        'Sumo Gold', 'Sumo Grande', 'Sumo Victa', 'Sunny', 'Sunny XL',
        'Superb 1.8', 'Suzuki 800', 'Suzuki A', 'Suzuki Alto',
        'Suzuki Baleno', 'Suzuki Celerio', 'Suzuki Ciaz', 'Suzuki Dzire',
        'Suzuki Eeco', 'Suzuki Ertiga', 'Suzuki Esteem', 'Suzuki Estilo',
        'Suzuki Maruti', 'Suzuki Omni', 'Suzuki Ritz', 'Suzuki S',
        'Suzuki SX4', 'Suzuki Stingray', 'Suzuki Swift', 'Suzuki Versa',
        'Suzuki Vitara', 'Suzuki Wagon', 'Suzuki Zen', 'TUV300 T4',
        'TUV300 T8', 'Tavera LS', 'Tavera Neo', 'Terrano XL', 'Thar CRDe',
        'Tiago Revotorq', 'Tiago Revotron', 'Tigor Revotron',
        'Vento Comfortline', 'Vento Highline', 'Vento Konekt',
        'Venture EX', 'Verna', 'Verna 1.4', 'Verna 1.6', 'Verna Fluidic',
        'Verna Transform', 'Verna VGT', 'Vista Quadrajet', 'WR V',
        'Wrangler Unlimited', 'X Trail', 'X1', 'X1 sDrive20d',
        'X1 xDrive20d', 'XE XE', 'XF 2.2', 'XUV500', 'XUV500 W10',
        'XUV500 W6', 'XUV500 W8', 'Xcent Base', 'Xcent SX', 'Xylo D2',
        'Xylo E4', 'Xylo E8', 'Yeti Ambition', 'Zest Quadrajet', 'Zest XE',
        'Zest XM', 'i10', 'i10 Era', 'i10 Magna', 'i10 Sportz', 'i20',
        'i20 Active', 'i20 Asta', 'i20 Magna', 'i20 Select', 'i20 Sportz'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [312]:
column_transform = make_column_transformer((OneHotEncoder(categories = ohe.categories_), 
                                      ['company', 'model name','fuel_type']),remainder = 'passthrough' )

In [313]:
linear = LinearRegression()

In [314]:
linear

LinearRegression()

In [315]:
pipe = make_pipeline(column_transform, linear)

In [316]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Vol...
       'XUV500 W6', 'XUV500 W8', 'Xcent Base', 'Xcent SX', 'Xylo D2',
       'Xylo E4', 'Xylo E8', 'Yeti Ambition', 'Zest Quadrajet', 'Zest XE',
       'Zest XM', 'i10', 'i10 Era', 'i10 Magna', 'i10 Sportz', 'i20',
       'i20 Active', 'i20 Asta', 'i20 Magna', 'i20 Select', 'i20 Sportz'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['company', 'model name',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [317]:
y_pred = pipe.predict(X_test)

In [318]:
y_pred

array([ 3.45766329e+04,  4.43018063e+04,  3.35203320e+05,  1.86993157e+05,
        4.76132768e+05,  4.00736739e+05,  1.85859945e+05,  4.22984957e+05,
        1.21455146e+06,  1.28450327e+05,  1.30656154e+05,  4.37341189e+05,
        1.98595290e+05,  6.37459316e+05,  4.67175910e+05,  2.69799825e+05,
        1.34465180e+06,  5.94255988e+05,  1.91308474e+05,  3.68381910e+05,
        3.05909959e+05,  3.18478143e+05,  4.88291910e+05,  1.21151558e+05,
       -8.57240107e+04,  1.83156350e+05,  5.34722437e+05,  5.38298772e+05,
        2.54572029e+05,  4.93799314e+05,  2.29621279e+05,  3.34018552e+05,
        4.00645863e+05,  2.28320707e+05,  2.47168695e+05,  5.23486821e+05,
        5.88132109e+05,  3.05498533e+05,  3.20516918e+05,  4.75136680e+05,
        4.03796393e+05,  2.44912419e+05,  3.77284120e+05,  2.45413262e+05,
        1.55468198e+05,  3.58799032e+05,  2.75459955e+05,  3.47160603e+05,
        1.01323206e+05,  4.66361449e+05,  4.72960369e+05,  6.70884273e+05,
        4.96172739e+05,  4.23046273e+05,  4.56622627e+05,  4.34061822e+03,
        1.77696794e+06,  1.69930090e+05,  1.90876943e+05,  6.52356840e+05,
        4.55655891e+05,  2.04117244e+05,  1.59398927e+05,  5.46632799e+05,
        2.52248459e+05,  1.14197885e+05,  2.09435076e+06,  6.97559655e+05,
        1.20385617e+06,  2.62895316e+05,  5.81451122e+05,  6.71924915e+05,
        3.14215763e+05,  3.60396415e+05,  2.82056472e+05,  2.09435076e+06,
        4.38072889e+05, -5.86605639e+04,  2.86923840e+05,  6.96889877e+05,
        2.79950674e+05,  4.38720186e+05,  9.37461824e+05,  5.27041219e+04,
        3.43552293e+05,  6.30289692e+05,  7.42207158e+04,  4.51582835e+05,
        2.54223856e+05,  1.56612435e+05,  6.84304911e+05,  7.48596025e+04,
        3.43241405e+05,  3.04352358e+05,  5.56020615e+05,  9.35035411e+04,
        3.73919302e+05,  2.55885351e+05,  1.73591620e+05,  5.13467739e+05,
        3.80342522e+05,  4.76132768e+05,  3.13594172e+05,  2.31455935e+05,
        1.92866031e+05,  3.15933366e+05,  3.04252961e+05,  3.53295071e+05,
        4.13272651e+05,  5.83480968e+05,  1.96718875e+05,  4.37637425e+05,
        5.46102641e+05,  3.65857735e+05,  1.78464080e+05,  6.42200733e+04,
        4.56832190e+02,  2.70153530e+05,  3.81277545e+05,  3.96232275e+05,
        2.19923165e+05,  3.45409236e+05,  3.81451096e+05,  3.48208324e+05,
        4.20468726e+05,  5.78362851e+05,  9.97627780e+05,  2.55478246e+05,
        8.37008949e+05,  2.10448851e+04,  3.42604279e+05,  4.06392385e+05,
        4.24294152e+05,  1.65762035e+05,  2.52495214e+05,  1.84827568e+05,
        4.54464969e+05,  3.35680048e+05,  6.49519092e+05,  6.41989766e+05,
        1.30656154e+05,  2.09435076e+06,  5.57291362e+05,  3.77026503e+05,
        6.32468940e+05,  1.49897819e+05,  1.16140917e+06,  2.38753825e+05,
        4.42388206e+05,  2.44912419e+05,  2.78070623e+05,  3.40100039e+05,
        6.03566973e+04,  6.81390346e+05,  3.47135363e+05,  7.73521337e+05,
        1.91092708e+05,  2.03767717e+05,  1.01433207e+05,  2.47168695e+05,
        5.33484561e+05,  7.07882421e+05,  3.40100039e+05,  2.55117366e+05,
        1.43650238e+05,  5.02589456e+05,  4.06769273e+05,  1.84827568e+05,
        5.04971401e+05,  2.09869190e+05,  3.28128241e+05,  4.45906585e+05,
        4.09837490e+05,  4.72929461e+05,  2.09424288e+06,  5.93742022e+05,
        4.72993568e+05,  2.52214397e+05,  2.73041628e+05,  4.07095642e+04])

In [319]:
from sklearn.metrics import r2_score

In [320]:
r2_score(y_test, y_pred)

0.7217615190083577